.container {
	display: flex;
	gap: 6px;
	align-items: center;

	font-size: 14px;
	font-weight: 500;
	color: var(--white);

	padding: 8px 7px 8px 10px;
	border-radius: 100px;
}

.outer {
	display: flex;
	justify-content: center;
	align-items: center;

	border-radius: 100px;
	height: 19px;
	width: 19px;

	background-color: rgba(255, 255, 255, 0.5);
}

.inner {
	border-radius: 100px;
	height: 10px;
	width: 10px;

	background-color: rgba(255, 255, 255, 1);

	animation: heartbeat 1.2s infinite;
}

@keyframes heartbeat {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(1);
	}
}
