.container {
	display: flex;
	flex-direction: column;
	border: var(--border);
	border-radius: 8px;
	width: 100%;
	background-color: #fff;

	position: relative;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: var(--border);
	height: 40px;
	padding: 0 10px;
}

.title {
	display: flex;
	gap: 4px;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	font-weight: 600;
}

.children {
	display: flex;
	flex-direction: column;
	padding: 14px 12px;
}
