.ramHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;

	font-size: 12px;
	font-weight: 600;
	padding-bottom: 12px;
	margin-top: 28px;
}

.ramValues {
	text-align: end;
	color: var(--grey);
}

.cpus {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.cpuWrapper {
	display: flex;
	gap: 4px;
	justify-content: center;
	align-items: center;

	flex-grow: 1;
	margin-right: 4px;
}

.cpuIndex,
.cpuPercentage {
	font-size: 11px;
	font-weight: 600;
	color: var(--grey);
}

.cpuIndex {
	width: 20px;
	text-align: right;
}

.cpuPercentage {
	width: 45px;
	text-align: left;
}

.resourceBar {
	display: flex;
	width: 100%;
	height: 20px;
	background-color: var(--grey10);
	border-radius: 4px;
}

.progress {
	display: flex;
	height: 20px;
	border-radius: 4px;

	transition: 1000ms ease-in-out;
}
