.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 600;
}

.key {
  font-size: 9px;
  font-weight: 500;
  letter-spacing: 0.7px;
  color: var(--grey);
}

.divider {
  display: flex;
  border-bottom: 1px dashed var(--grey10);
}
