:root {
  --black: #000;
  --white: #fff;

  --grey: rgba(0, 0, 0, 0.6);
  --grey10: rgba(0, 0, 0, 0.1);

  --red: #e01818;
  --red-light: #ffcfcf;
  --green: #00c414;
  --green-light: #d6ffe1;
  --yellow: #f3dc07;

  --border: 1px solid #dddddd;
}

html,
body {
  margin: 0px;
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;

  margin: 20px;
}

.rows {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 12px;
}

.borderDivider {
  display: flex;
  height: 0.5px;
  background-color: #dddddd;
  margin: 12px 0;
}

.subHeading {
  font-size: 12px;
  font-weight: 600;
  padding-bottom: 12px;
}

.cardsRow {
  display: flex;
  gap: 20px;
}
